<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHVERSO</title>
    <link rel="shortcut icon" href="imagem/techy.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
<header>
    <div class="wrapper">
        <div class="left">
            <p>E-mail: .....</p>
            <p>Siga nossas redes awhiqwa UHIWVEHQWERPQWEll!</p>
        </div>

        <div class="central">
            <picture>
                
                <a href="index.html"><img src="imagem/" alt="logo"></a>
            </picture>

        </div>

        <div class="right">
           <p>
            <a href="https://www.facebook.com/" target="_blank"><img src="imagem/Inconess 12x12.png" alt="Face"></a>
                
            <a href="https://www.instagram.com/" target="_blank"><img src="imagem/Inconesss 12x12.png" alt="Insta"></a>
    
            <a href="" target="_blank"><img src="imagem/Incones 12x12.png" alt="Whatsapp"></a>
           </p>
                                 
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#vagas">VAGAS</a></li>
            <li><a href="#cursos">CURSOS</a></li>
            <li><a href="faqs">FAQs</a></li>
            <li><a href="#manuais">MANUAIS</a></li>
            <li><a href="#sobre">SOBRE</a></li>            
        </ul>
    </nav>

    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.menu').classList.toggle('active');
            if (document.querySelector('.menu').style.display === 'block') {
                document.querySelector('.menu').style.display = 'none';
            } else {
                document.querySelector('.menu').style.display = 'block';
            }
        });
    </script>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="imagem/" style="width:100%">
          </div>

        <div class="mySlides fade">
            <img src="imagem/" style="width:100%">
          </div>

        <div class="mySlides fade">
          <img src="imagem/" style="width:100%">
        </div>
       
        <div class="mySlides fade">
          <img src="imagem/Paella_Prancheta 1.jpg" style="width:100%">
        </div>
    </div>
    
    <script src="javascript/script.js"></script>
</header>