<!-- filepath: c:\Users\Usuario\Desktop\PI\TechVerso\vagas\templates\list_job_posts.html -->
{% extends 'base.html' %}

{% block title %}Lista de Vagas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Lista de Vagas</h1>
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item">
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
                <p><strong>Local:</strong> {{ job.location }}</p>
                <p><strong>Salário:</strong> {{ job.salary }}</p>
                <p><strong>Tipo de Contrato:</strong> {{ job.contract_type }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhuma vaga disponível no momento.</li>
        {% endfor %}
    </ul>
	<button type="button" onclick="history.back()">Voltar</button>
</div>
{% endblock %}