{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-md-4">
  <h4>Entrar com sua conta</h4>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success mt-3" type="submit">Entrar</button>
  </form>

  <hr />

  <h5>Ou entre com sua rede social:</h5>
  <div class="social-media-details">
    <a href="{% provider_login_url 'github' process='login' %}">
      <img
        src="{% static 'images/github-48.gif' %}"
        alt="Ícone GitHub"
        class="social-media-icon"
      />
    </a>
    <a href="{% provider_login_url 'google' process='login' %}">
      <img
        src="{% static 'images/google-icon.png' %}"
        alt="Ícone Google"
        class="social-media-icon"
      />
    </a>
  </div>
</div>


{% endblock %}
