{% extends 'base.html' %}
{% load static %} 
{% load socialaccount %} 
{% block title %}Registrar{% endblock %} 
{% block content %}

<div class="col-md-4">
  
  <h4>Criar uma nova conta</h4>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}

    <button class="btn btn-warning mt-3" type="submit">Registrar</button>

    
    <hr />


    <h5>Ou Registre-se com sua rede social:</h5>
    <div class="social-media-details">
      <a href="http://localhost:8000/accounts/github/login/?process=login">
        <img
          src="{% static 'images/github-48.gif' %}"
          alt="Ícone para realizar a autenticação com GitHub"
          class="social-media-icon"
        />
        <p></p>
      </a>
      <a href="{% provider_login_url 'google' process='login' %}">
        <img
            src="{% static 'images/google-icon.png' %}"
            alt="Ícone para realizar a autenticação com Google"
            class="social-media-icon"
        />
      </a>
    
    </div>
  </form>
</div>

<style>
  .social-media-details {
    display: flex;
    align-items: center;
    gap: 16px; /* espaçamento entre os ícones */
    margin-top: 10px;
  }
  
  .social-media-details a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-media-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
  }
  
  .social-media-icon:hover {
    transform: scale(1.2); /* efeito sutil ao passar o mouse */
  }
  
</style>
{% endblock %}
